:host {
  font-size: 0.75em;
}

.footer {
  background: #171717;
}

.spacer {
  padding-top: 5.5em;
  background: #171717;
}

a ion-icon {
  margin: 0;
  padding: 0 0.25em 0;
  font-size: 2em;
  color: var(--ion-color-light);
}

.disclaimer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ion-color-light);
}
