<div class="footer">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-hide-md-down">
      <ion-col>
        <a href="https://virtuoush2020.com/" target="_blank">
          <ion-icon name="home"></ion-icon>
        </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdZMbYuXauHeA-0GUzh45Te-4Pz6g3-xZPlKmVlwn-PMkForQ/viewform" target="_blank">
          <ion-icon name="chatbox-ellipses"></ion-icon>
        </a>
        <a href="https://www.facebook.com/people/Virtuous-h2020/100057709727815/" target="_blank">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="https://www.instagram.com/virtuoush2020/" target="_blank">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="https://twitter.com/virtuoush2020" target="_blank">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="https://www.linkedin.com/company/virtuoush2020/" target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </ion-col>
      <ion-col size="9">
        <div class="disclaimer">
          <p class="ion-text-end"><strong>No. 872181</strong><br/>
            This project has received funding from the European Union’s Horizon 2020 research and<br/>
            innovation programme under the Marie Skłodowska-Curie grant agreement Action.</p>
          <img src="assets/euflag.png" alt="EU flag"/>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-hide-md-up ion-text-center">
      <ion-col>
        <a href="https://virtuoush2020.com/" target="_blank">
          <ion-icon name="home"></ion-icon>
        </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdZMbYuXauHeA-0GUzh45Te-4Pz6g3-xZPlKmVlwn-PMkForQ/viewform" target="_blank">
          <ion-icon name="chatbox-ellipses"></ion-icon>
        </a>
        <a href="https://www.facebook.com/people/Virtuous-h2020/100057709727815/" target="_blank">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="https://www.instagram.com/virtuoush2020/" target="_blank">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="https://twitter.com/virtuoush2020" target="_blank">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="https://www.linkedin.com/company/virtuoush2020/" target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-hide-md-up">
      <ion-col>
        <div class="disclaimer-sm">
          <p class="ion-text-start"><strong>No. 872181:</strong>
            This project has received funding from the European Union’s Horizon 2020 research and
            innovation programme under the Marie Skłodowska-Curie grant agreement Action.</p>
          <img src="assets/euflag.png" alt="EU flag"/>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div *ngIf="spacer" class="spacer ion-hide-lg-up"></div>
