<ion-card>
  <ion-card-header class="ion-margin-top ion-text-center">
    <ion-card-title *ngIf="foodDetails !== null">{{foodDetails.food_name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid *ngIf="foodDetails !== null">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="10" sizeMd="4" class="ion-text-center">
          <ion-button expand="block" href="#" routerLink="..">
            <ion-icon name="list"></ion-icon>
            Back to List
          </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h2>Details</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-col size="3" class="ion-hide-md-down"><strong class="table-head">ID</strong></ion-col>
          <ion-col class="ion-hide-md-down">{{foodDetails.food_id}}</ion-col>
          <ion-col class="ion-hide-md-up ion-text-center">
            <strong class="table-head">ID</strong>
            {{foodDetails.food_id}}
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-col size="3" class="ion-hide-md-down"><strong class="table-head">Name</strong></ion-col>
          <ion-col class="ion-hide-md-down">{{foodDetails.food_name}}</ion-col>
          <ion-col class="ion-hide-md-up ion-text-center">
            <strong class="table-head">Name</strong><br/>
            {{foodDetails.food_name}}
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-col size="3" class="ion-hide-md-down"><strong class="table-head">Scientific name</strong></ion-col>
          <ion-col class="ion-hide-md-down">{{foodDetails.food_name_scientific}}</ion-col>
          <ion-col class="ion-hide-md-up ion-text-center">
            <strong class="table-head">Scientific name</strong><br/>
            {{foodDetails.food_name_scientific}}
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-col size="3" class="ion-hide-md-down"><strong class="table-head">Food group</strong></ion-col>
          <ion-col class="ion-hide-md-down">{{foodDetails.food_group}}</ion-col>
          <ion-col class="ion-hide-md-up ion-text-center">
            <strong class="table-head">Food group</strong><br/>
            {{foodDetails.food_group}}
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-col size="3" class="ion-hide-md-down"><strong class="table-head">Food subgroup</strong></ion-col>
          <ion-col class="ion-hide-md-down">{{foodDetails.food_subgroup}}</ion-col>
          <ion-col class="ion-hide-md-up ion-text-center">
            <strong class="table-head">Food subgroup</strong><br/>
            {{foodDetails.food_subgroup}}
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-col size="3" class="ion-hide-md-down"><strong class="table-head">Food description</strong></ion-col>
          <ion-col class="ion-hide-md-down">{{foodDetails.food_description}}</ion-col>
          <ion-col class="ion-hide-md-up ion-text-center">
            <strong class="table-head">Food description</strong><br/>
            {{foodDetails.food_description}}
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-col size="3" class="ion-hide-md-down"><strong class="table-head">Organoleptic trial</strong></ion-col>
          <ion-col class="ion-hide-md-down">
            Help us improve our predictions by telling us how <strong>{{foodDetails.food_name}}</strong> tastes:
          </ion-col>
          <ion-col size="3" sizeXl="2" class="ion-hide-md-down">
            <ion-button expand="block" href="#" routerLink="organoleptic-trial" color="secondary">
              <ion-icon name="flask"></ion-icon>
              Organoleptic trial
            </ion-button>
          </ion-col>
          <ion-col class="ion-hide-md-up ion-text-center">
            <strong class="table-head">Food description</strong><br/>
            Help us improve our predictions by telling us how <strong>{{foodDetails.food_name}}</strong> tastes:<br/>
            <ion-button expand="block" href="#" routerLink="organoleptic-trial" color="secondary">
              <ion-icon name="flask"></ion-icon>
              Organoleptic trial
            </ion-button>
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-col size="3" class="ion-hide-md-down"><strong class="table-head">Compounds list</strong></ion-col>
          <ion-col class="ion-hide-md-down">
            Download the entire list of compounds that <strong>{{foodDetails.food_name}}</strong> contains:
          </ion-col>
          <ion-col size="3" sizeXl="2" class="ion-hide-md-down">
            <ion-button expand="block" href="{{downloadCompounds()}}" color="medium">
              <ion-icon name="download-outline"></ion-icon>
              Download
            </ion-button>
          </ion-col>
          <ion-col class="ion-hide-md-up ion-text-center">
            <strong class="table-head">Compounds list</strong><br/>
            Download the entire list of compounds that <strong>{{foodDetails.food_name}}</strong> contains:<br/>
            <ion-button expand="block" href="{{downloadCompounds()}}" color="medium">
              <ion-icon name="download-outline"></ion-icon>
              Download
            </ion-button>
          </ion-col>
        </ion-item>
      </ion-row>
<!--      <br/>-->
<!--      <ion-row>-->
<!--        <ion-col></ion-col>-->
<!--        <ion-col size="10" sizeMd="4" class="ion-text-center">-->
<!--          <ion-button color="secondary" expand="block" (click)="analyseFood()">-->
<!--            <ion-icon name="restaurant"></ion-icon>-->
<!--            Virtual Taste-->
<!--          </ion-button>-->
<!--        </ion-col>-->
<!--        <ion-col></ion-col>-->
<!--      </ion-row>-->
      <br/>
      <ion-row>
        <ion-col class="ion-margin-top ion-text-center">
          <h2>Compounds</h2>
        </ion-col>
      </ion-row>
      <ion-row class="ion-hide-md-down">
        <ion-item>
          <ion-col size="3"><strong class="table-head">Name</strong></ion-col>
          <ion-col size="3" sizeXl="4"><strong class="table-head">SMILES</strong></ion-col>
          <ion-col size="3"><strong class="table-head">Content</strong></ion-col>
          <ion-col size="3" sizeXl="2"><strong class="table-head">Actions</strong></ion-col>
        </ion-item>
      </ion-row>
      <ion-row *ngFor="let c of foodContents" class="ion-hide-md-down">
        <ion-item>
          <ion-col size="3"><strong>{{c.name}}</strong><br/><em>{{c.formula}}</em></ion-col>
          <ion-col size="3" sizeXl="4">{{c.smiles}}</ion-col>
          <ion-col size="3">
            <ion-label *ngIf="c.orig_min !== null"><strong>Min</strong>: {{toFixed(c.orig_min)}} {{c.orig_unit}}<br/></ion-label>
            <ion-label *ngIf="c.orig_max !== null"><strong>Max</strong>: {{toFixed(c.orig_max)}} {{c.orig_unit}}<br/></ion-label>
            <ion-label *ngIf="c.orig_content !== null"><strong>Avg</strong>: {{toFixed(c.orig_content)}} {{c.orig_unit}}<br/></ion-label>
          </ion-col>
          <ion-col size="3" sizeXl="2">
            <ion-button (click)="analyseCompound(c.smiles, 'umami')" expand="block">
              <ion-icon name="fish"></ion-icon>
              Umami
            </ion-button>
            <ion-button color="secondary" (click)="analyseCompound(c.smiles, 'sweetbitter')" expand="block">
              <ion-icon name="ice-cream"></ion-icon>
              Sweet/Bitter
            </ion-button>
            <ion-button color="medium" (click)="analyseCompound(c.smiles, 'multitaste')" expand="block">
              <ion-icon name="restaurant"></ion-icon>
              Multitaste
            </ion-button>
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row *ngFor="let c of foodContents" class="ion-hide-md-up">
        <ion-item>
          <ion-col class="ion-text-center">
            <p>
              <strong>{{c.name}}</strong><br/><em>{{c.formula}}</em>
            </p>
            <p>
              <span *ngIf="c.orig_min !== null"><strong>Min</strong>: {{toFixed(c.orig_min)}} {{c.orig_unit}}<br/></span>
              <span *ngIf="c.orig_max !== null"><strong>Max</strong>: {{toFixed(c.orig_max)}} {{c.orig_unit}}<br/></span>
              <span *ngIf="c.orig_content !== null"><strong>Avg</strong>: {{toFixed(c.orig_content)}} {{c.orig_unit}}<br/></span>
            </p>
            <p>
              <ion-button class="analyse" (click)="analyseCompound(c.smiles, 'umami')">
                <ion-icon name="fish"></ion-icon>
                Umami
              </ion-button>
              <ion-button class="analyse" color="secondary" (click)="analyseCompound(c.smiles, 'sweetbitter')">
                <ion-icon name="ice-cream"></ion-icon>
                Sweet/Bitter
              </ion-button>
              <ion-button class="analyse" color="medium" (click)="analyseCompound(c.smiles, 'multitaste')">
                <ion-icon name="restaurant"></ion-icon>
                Multitaste
              </ion-button>
            </p>
          </ion-col>
        </ion-item>
      </ion-row>
    </ion-grid>
    <br/>
    <p class="ion-text-center pagination">
      <ion-label>
        <ion-button *ngIf="pagination.page !== 0" fill="outline" (click)="goToPage($event,'first')" class="ion-hide-md-up">
          <ion-icon class="no-text" name="play-back"></ion-icon>
        </ion-button>
      </ion-label>
      <ion-label>
        <ion-button *ngIf="pagination.page !== 0" fill="outline" (click)="goToPage($event,'prev')">
          <ion-icon class="no-text" name="caret-back"></ion-icon>
        </ion-button>
      </ion-label>
      <ion-label *ngFor="let p of pagination.pagesList">
        <ion-button *ngIf="(pagination.page !== p.page) && !p.hasOwnProperty('class')" fill="outline" (click)="goToPage($event, p.page)">{{p.title}}</ion-button>
        <ion-button *ngIf="(pagination.page !== p.page) && p.hasOwnProperty('class')" fill="outline" (click)="goToPage($event, p.page)" class="{{p.class}}">{{p.title}}</ion-button>
        <ion-button *ngIf="pagination.page === p.page" (click)="goToPage($event, p.page)">{{p.title}}</ion-button>
      </ion-label>
      <ion-label>
        <ion-button *ngIf="pagination.page !== (pagination.pagesCount - 1)" fill="outline" (click)="goToPage($event,'next')">
          <ion-icon class="no-text" name="caret-forward"></ion-icon>
        </ion-button>
      </ion-label>
      <ion-label>
        <ion-button *ngIf="pagination.page !== (pagination.pagesCount - 1)" fill="outline" (click)="goToPage($event,'last')" class="ion-hide-md-up">
          <ion-icon class="no-text" name="play-forward"></ion-icon>
        </ion-button>
      </ion-label>
    </p>
    <br/><br/>
    <div class="references">
      <p class="ion-text-center">Foods' list and contents provided by <a href="https://foodb.ca/" target="_blank">FooDB</a></p>
    </div>
  </ion-card-content>
</ion-card>

