<ion-card>
  <ion-card-header class="ion-margin-top ion-text-center">
    <ion-card-subtitle>Organoleptic trial:</ion-card-subtitle>
    <ion-card-title>{{foodName}}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    <ion-label>Help us improve by telling us what you taste.</ion-label>
    <br/>
    <br/>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="10" sizeMd="4" class="ion-text-center">
          <ion-button *ngIf="origin === 'food'" expand="block" routerLink="..">
            <ion-icon name="pizza"></ion-icon>
            Back to food
          </ion-button>
          <ion-button *ngIf="origin === 'select'" expand="block" routerLink="..">
            <ion-icon name="caret-back"></ion-icon>
            Select another food
          </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <br/>
    <form (ngSubmit)="submit($event)">
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="12" sizeLg="8">
            <ion-row *ngFor="let f of fields">
              <ion-col class="ion-text-center">
                <br/><br/><br/>
                <strong>{{f.minLabel}}</strong>
              </ion-col>
              <ion-col size="8">
                <h3>{{f.tasteLabel}}</h3>
                <ion-range name="{{f.name}}" [(ngModel)]="values[f.index]" value="3" min="1" max="5" step="1" snaps="true"></ion-range>
              </ion-col>
              <ion-col class="ion-text-center">
                <br/><br/><br/>
                <strong>{{f.maxLabel}}</strong>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="10" sizeMd="4" class="ion-text-center">
            <br/>
            <ion-button type="submit" expand="block" color="secondary">Submit</ion-button>
            <br/>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <br/>
  </ion-card-content>
</ion-card>
