<ion-card>
  <ion-card-header class="ion-margin-top ion-text-center">
    <ion-card-title>Virtuous Database Search</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="ion-text-start">
      <form [formGroup]="searchForm" (ngSubmit)="searchFormSubmit()">
        <ion-row>
          <ion-col size="8" sizeSm="6" sizeLg="4">
            <ion-searchbar formControlName="search" show-clear-button="always" (ionClear)="foodsInit()"></ion-searchbar>
          </ion-col>
          <ion-col size="4" sizeSm="3" sizeLg="2">
            <ion-button type="submit" class="search" expand="block">Search</ion-button>
          </ion-col>
        </ion-row>
      </form>
      <br/>
      <ion-row>
        <ion-item>
          <ion-col size="1" class="ion-hide-sm-down"><strong class="table-head">ID</strong></ion-col>
          <ion-col><strong class="table-head">Name</strong></ion-col>
          <ion-col class="ion-hide-sm-down"><strong class="table-head">Scientific name</strong></ion-col>
          <ion-col><strong class="table-head">Food group</strong></ion-col>
          <ion-col class="ion-hide-sm-down"><strong class="table-head">Food subgroup</strong></ion-col>
        </ion-item>
      </ion-row>
      <ion-row *ngFor="let food of foods">
        <ion-item href="#" (click)="showFoodDetails($event, food.food_id)">
          <ion-col size="1" class="ion-hide-sm-down">{{food.food_id}}</ion-col>
          <ion-col>{{food.food_name}}</ion-col>
          <ion-col class="ion-hide-sm-down">{{food.food_name_scientific}}</ion-col>
          <ion-col>{{food.food_group}}</ion-col>
          <ion-col class="ion-hide-sm-down">{{food.food_subgroup}}</ion-col>
        </ion-item>
      </ion-row>
    </ion-grid>
    <br/>
    <p class="ion-text-center pagination">
      <ion-label>
        <ion-button *ngIf="pagination.page !== 0" fill="outline" (click)="goToPage($event,'first')" class="ion-hide-md-up">
          <ion-icon class="no-text" name="play-back"></ion-icon>
        </ion-button>
      </ion-label>
      <ion-label>
        <ion-button *ngIf="pagination.page !== 0" fill="outline" (click)="goToPage($event,'prev')">
          <ion-icon class="no-text" name="caret-back"></ion-icon>
        </ion-button>
      </ion-label>
      <ion-label *ngFor="let p of pagination.pagesList">
        <ion-button *ngIf="(pagination.page !== p.page) && !p.hasOwnProperty('class')" fill="outline" (click)="goToPage($event, p.page)">{{p.title}}</ion-button>
        <ion-button *ngIf="(pagination.page !== p.page) && p.hasOwnProperty('class')" fill="outline" (click)="goToPage($event, p.page)" class="{{p.class}}">{{p.title}}</ion-button>
        <ion-button *ngIf="pagination.page === p.page" (click)="goToPage($event, p.page)">{{p.title}}</ion-button>
      </ion-label>
      <ion-label>
        <ion-button *ngIf="pagination.page !== (pagination.pagesCount - 1)" fill="outline" (click)="goToPage($event,'next')">
          <ion-icon class="no-text" name="caret-forward"></ion-icon>
        </ion-button>
      </ion-label>
      <ion-label>
        <ion-button *ngIf="pagination.page !== (pagination.pagesCount - 1)" fill="outline" (click)="goToPage($event,'last')" class="ion-hide-md-up">
          <ion-icon class="no-text" name="play-forward"></ion-icon>
        </ion-button>
      </ion-label>
    </p>
    <br/><br/>
    <div class="references">
      <p class="ion-text-center">Foods' list and contents provided by <a href="https://foodb.ca/" target="_blank">FooDB</a></p>
    </div>
  </ion-card-content>
</ion-card>
