<ion-card>
  <ion-card-header class="ion-margin-top ion-text-center">
    <ion-card-title>Mycovirus Discovery</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    <ion-label>
      Search genomes for discovering mycoviruses
    </ion-label>
    <br/><br/>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="12" sizeLg="10" sizeXl="8">
          <!--suppress AngularUndefinedBinding -->
          <form (ngSubmit)="search()">
            <ion-row>
              <ion-col class="section-head">
                <ion-label>
                  <strong>Provide the genome:</strong>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-start">
              <ion-col sizeSm="3" sizeXs="4" class="vcenter">
                <ion-label>E-mail:</ion-label>
              </ion-col>
              <ion-col sizeSm="9" sizeXs="8">
                <ion-input [(ngModel)]="email" name="email" type="email" placeholder="johndoe@email.com" required="true"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-start">
              <ion-col sizeSm="3" sizeXs="4" class="vcenter">
                <ion-label>Sample name:</ion-label>
              </ion-col>
              <ion-col sizeSm="9" sizeXs="8">
                <ion-input [(ngModel)]="sampleName" name="sample_name" type="text" placeholder="Sample 1" required="true"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-start">
              <ion-col sizeSm="3" sizeXs="4" class="vcenter">
                <ion-label>Input format:</ion-label>
              </ion-col>
              <ion-col sizeSm="9" sizeXs="8">
                <ion-select [(ngModel)]="inputFormat" name="input_format"  placeholder="FASTA or FASTQ" required="true">
                  <ion-select-option value="fa">FASTA</ion-select-option>
                  <ion-select-option value="fq">FASTQ</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-start">
              <ion-col sizeSm="3" sizeXs="4" class="vcenter">
                <ion-label>Sequencing technology:</ion-label>
              </ion-col>
              <ion-col sizeSm="9" sizeXs="8">
                <ion-select [(ngModel)]="sequencingTechnology" name="sequencing_technology"  placeholder="Single or Pair end" required="true">
                  <ion-select-option value="single">Single end</ion-select-option>
                  <ion-select-option value="paired">Paired end</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-start" *ngIf="sequencingTechnology === 'single'">
              <ion-col sizeSm="3" sizeXs="4" class="vcenter">
                <ion-label>Input file:</ion-label>
              </ion-col>
              <ion-col sizeSm="9" sizeXs="8">
                <ion-input name="single_file" type="file" (ionChange)="onSingleFileChange($event)" required="true"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-start" *ngIf="sequencingTechnology === 'paired'">
              <ion-col sizeSm="3" sizeXs="4" class="vcenter">
                <ion-label>Input file (forward):</ion-label>
              </ion-col>
              <ion-col sizeSm="9" sizeXs="8">
                <ion-input name="forward_file" type="file" (ionChange)="onForwardFileChange($event)" required="true"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-start" *ngIf="sequencingTechnology === 'paired'">
              <ion-col sizeSm="3" sizeXs="4" class="vcenter">
                <ion-label>Input file (reverse):</ion-label>
              </ion-col>
              <ion-col sizeSm="9" sizeXs="8">
                <ion-input name="reverse_file" type="file" (ionChange)="onReverseFileChange($event)" required="true"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-start">
              <ion-col sizeSm="3" sizeXs="4" class="vcenter">
                <ion-label>Reference Genome file:</ion-label>
              </ion-col>
              <ion-col sizeSm="9" sizeXs="8">
                <ion-input name="reference_genome" type="file" (ionChange)="onGenomeFileChange($event)" required="true"></ion-input>
              </ion-col>
            </ion-row>
            <br/><br/>
            <ion-row>
              <ion-col></ion-col>
              <ion-col size="10" sizeMd="4" class="ion-text-center">
                <ion-button type="submit" expand="block" color="secondary">Submit</ion-button>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </form>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <br/><br/>
  </ion-card-content>
</ion-card>
