ion-col.vcenter {
  display: flex;
  align-items: center;
}

ion-col.section-head {
  padding: 20px 0 10px;
}

.help ion-col {
  padding: 0 12px 15px 12px;
}

.help span {
  color: #606269;
  font-size: 0.9rem;
}

ion-input, ion-select  {
  background-color: #fdfdfd;
  border: 1px solid var(--ion-color-medium);
  border-radius: 0.75em;
}

ion-button {
  margin: 0;
}
