ion-col.vcenter {
  display: flex;
  align-items: center;
}

ion-col.section-head {
  padding: 20px 0 10px;
}

ion-input  {
  background-color: #fdfdfd;
  border: 1px solid var(--ion-color-medium);
  border-radius: 0.75em;
}

ion-button {
  margin: 0;
}
