<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="buttons === true" slot="start">
      <a href="https://www.imslab.gr/" target="_blank">
        <ion-icon name="information-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>
      <a routerLink="/">
        <ion-img class="large ion-hide-lg-down" src="/assets/logo.png"></ion-img>
      </a>
      <a routerLink="/">
        <ion-img class="small ion-hide-lg-up" src="/assets/logo.png"></ion-img>
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>
