ion-item {
  width: 100%;
}

ion-text {
  size: 5em;
}

ion-button {
  min-width: 11em;
}

h2 {
  margin: 1em 0 0.5em;
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  margin: 1em 0;
  font-size: 1em;
}
