<ion-card>
  <ion-card-header class="ion-margin-top ion-text-center">
    <ion-card-title>Mycovirus Discovery</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    <ion-label>
      Search genomes for discovering mycoviruses
    </ion-label>
    <br/><br/>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="12" sizeLg="10" sizeXl="8">
          <!--suppress AngularUndefinedBinding -->
          <form (ngSubmit)="trim()">
            <ion-accordion-group *ngFor="let report of analysisResults; index as i">
              <ion-accordion value="first">
                <ion-item slot="header" color="primary">
                  <ion-label>Report file #{{i+1}}</ion-label>
                </ion-item>
                <div class="ion-padding ion-text-start" slot="content">
                  <iframe srcdoc="{{report}}"></iframe>
                </div>
              </ion-accordion>
            </ion-accordion-group>
            <br/><br/>
            <ion-row class="ion-text-start">
              <ion-col sizeSm="3" sizeXs="4" class="vcenter">
                <ion-label>Trimmomatic adapter:</ion-label>
              </ion-col>
              <ion-col sizeSm="9" sizeXs="8">
                <ion-input name="adapter" type="file" (ionChange)="onAdapterChange($event)" required="true"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-start">
              <ion-col sizeSm="3" sizeXs="4" class="vcenter">
                <ion-label>Trimmomatic sliding window:</ion-label>
              </ion-col>
              <ion-col sizeSm="9" sizeXs="8">
                <ion-input [(ngModel)]="slidingWindow" name="sliding_window" type="text" required="true"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-start">
              <ion-col sizeSm="3" sizeXs="4" class="vcenter">
                <ion-label>Trimmomatic minimum length:</ion-label>
              </ion-col>
              <ion-col sizeSm="9" sizeXs="8">
                <ion-input [(ngModel)]="minLength" name="min_length" type="text" required="true"></ion-input>
              </ion-col>
            </ion-row>
            <br/><br/>
            <ion-row>
              <ion-col></ion-col>
              <ion-col size="10" sizeMd="4" class="ion-text-center">
                <ion-button type="submit" expand="block" color="primary">Trim</ion-button>
              </ion-col>
              <ion-col size="1"></ion-col>
              <ion-col size="1"></ion-col>
              <ion-col size="10" sizeMd="4" class="ion-text-center">
                <ion-button type="submit" expand="block" color="secondary">Submit</ion-button>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </form>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <br/><br/>
  </ion-card-content>
</ion-card>
