.app-menu {
  margin-bottom: 1em;
  background: #f2f2f2;
}

ion-col {
  padding: 0;
}

ion-button {
  --color: var(--ion-color-dark);
}

ion-button.large {
  margin: 10px 0;
  height: 3em;
}

ion-button.small {
  margin: 0;
}

ion-button.active {
  --color: var(--ion-color-primary);
  border-bottom: 2px var(--ion-color-primary) solid;
}
